{% extends 'base.html.twig' %}

{% block title %}Fast Food Advisor - Carte{% endblock %}

{% block body %}
<div class="row content-container p-0 m-0 w-100 justify-content-center">
    <div id="map-container"></div>
</div>
{% endblock %}
