{% extends 'base.html.twig' %}

{% block title %}FFA - Accueil{% endblock %}

{% block body %}
<div class="row content-container justify-content-center">

    <div class="row justify-content-center">
        <div class="col mt-4 p-4 text-center">
            <h2>Votre compte a bien été créé !</h2>
            <h4 class="mb-4">Vérifiez voter boîte mail et validez votre compte !</h4>

            <iframe src="https://giphy.com/embed/BLEHfyIquco9cmR19Y" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/stopmotion-clay-plasticine-BLEHfyIquco9cmR19Y">via GIPHY</a></p>
        </div>
    </div>
    
</div>
{% endblock %}
