/* HEADER */

header {
    position: relative;
    background-color: black;
    height: 55vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url("{{asset('images/kebab.jpg')}}") black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

/* MISC */

.bg-orange { background-color: #ff764a !important; }
.text-moon { color: #d4d47a; }
.text-lightgrey { color: #eaeaea!important; }
.text-yellow { color: #f7e242!important; }

.alert-primary { background-color: #eee; }

.rounder-tlbl { 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rounded-3 { border-radius: 1.5rem;}

.mb-max { margin-bottom: 4.5rem;}

a:hover { text-decoration: none; }

.navigation-pagination { text-align: center; }
.navigation-pagination nav { display: inline-block; }

#site-loader {
    z-index: 99;
    position: fixed;
    color: #f0ad4e;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    font-size: 15rem;
    text-shadow: 9px 1px 12px #b9781d;
}

.form-control:focus, .btn:focus {
    border-color: transparent!important;
    box-shadow: none!important;
}

.img-100 { width: 100%; }

.note { font-size: 1rem; }
.note i { font-size: 1.2rem; }

.w-max-600 { max-width: 600px; }
.box-shadow { 
    box-shadow: 5px 5px 16px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 5px 5px 16px rgb(0 0 0 / 20%);
    -moz-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2);
}

.inline-block { display: inline-block; }

/* RATEIT.JS */

.rateit { font-size: 2rem; }
.small-rate { font-size: inherit; }

/*  HOME - TOP 5 */

.card-top5 { 
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
}

.card-top5 .card-title {
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-top5 .card-img-top {
    height: 60px;
}

/* HOME - SEARCH */

.search-container {
    height: 26rem;
    background-image: url(../images/restaurator-tile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.search a {
    text-decoration: none;
}

.search {
    margin-bottom: auto;
    margin-top: auto;
    min-width: 500px;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;

    -webkit-box-shadow: 5px 5px 0px 0px #ff764a, 10px 10px 0px 0px #ffa689, 15px 15px 0px 0px #ffc4b1, 20px 20px 0px 0px #ffdfd5, 25px 25px 0px 0px #ffeae3, 5px 5px 15px 5px rgb(255 118 74 / 0%);
    box-shadow: 5px 5px 0px 0px #ff764a, 10px 10px 0px 0px #ffa689, 15px 15px 0px 0px #ffc4b1, 20px 20px 0px 0px #ffdfd5, 25px 25px 0px 0px #ffeae3, 5px 5px 15px 5px rgb(255 118 74 / 0%);
}

.search_input {
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search_input {
    padding: 0 10px;
    width: calc(100% - 50px);
    caret-color: #ff764a;
    transition: width 0.4s linear;
}

.search:hover>.search_icon {
    background: #ff764a;
    color: #fff;
}

.search_icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: black;
}

/* HOME - CARD MAP */
.card-map-container {
    height: 16rem;
}

.card-map .card-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-map .card-text { font-size: 1rem; }

.card-bg-img-map {
    background: url("../images/street-map.jpg") black no-repeat center center scroll;
    background-position: center;
    background-size: cover;
}

/* FROM REGISTER / SIGNIN */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hall-of-fame-container { height: 16rem; }

/* MAP */

#map-container { 
    height: calc(100vh - 97px); 
    width: 100%;
}

.reload-map-btn {
    position: absolute;
    left: 45%;
    bottom: 1rem;
    z-index: 400;
}

/* RESTAURANT VIEW */

.add-photos {
    width: 50px;
    height: 54px;
    line-height: 64px;
    text-align: center;
    border: 2px solid black;
    vertical-align: top;
    margin-top: 3px;
    background-color: #e8e8e8;
    color: #5a5a5a;
    cursor: pointer;
}

/* DARK THEME */
body.dark-theme { background-color: #3b3d46; }
body.dark-theme * { color: #fff; }
body.dark-theme .card-map { background-color: transparent;}
body.dark-theme .form-signin label { color: white; }
body.dark-theme #map-container { filter: invert(1); }