/* HEADER */

header {
    position: relative;
    background-color: black;
    height: 55vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url("{{asset('images/kebab.jpg')}}") black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

/* MISC */

.bg-orange { background-color: #ff764a !important; }
.text-moon { color: #d4d47a; }

.content-container { 
    max-width: 1400px; 
    margin: auto;
}

.rounder-tlbl { 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rounded-3 {
    border-radius: 1.5rem;
}



/* HOME - SEARCH */


.search a {
    text-decoration: none;
}

.search {
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;

    -webkit-box-shadow: 5px 5px 0px 0px #ff764a, 10px 10px 0px 0px #ffa689, 15px 15px 0px 0px #ffc4b1, 20px 20px 0px 0px #ffdfd5, 25px 25px 0px 0px #ffeae3, 5px 5px 15px 5px rgb(255 118 74 / 0%);
    box-shadow: 5px 5px 0px 0px #ff764a, 10px 10px 0px 0px #ffa689, 15px 15px 0px 0px #ffc4b1, 20px 20px 0px 0px #ffdfd5, 25px 25px 0px 0px #ffeae3, 5px 5px 15px 5px rgb(255 118 74 / 0%);
}

.search_input {
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search_input {
    padding: 0 10px;
    width: 550px;
    caret-color: #ff764a;
    transition: width 0.4s linear;
}

.search:hover>.search_icon {
    background: #ff764a;
    color: #fff;
}

.search_icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: black;
}

/* HOME - CARD MAP */
.card-map .card-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-map div:first-of-type {    
    border: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.card-map .card-text { font-size: 1rem; }

.card-bg-img-map {
    background: url("../images/street-map.jpg") black no-repeat center center scroll;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/* FROM REGISTER / SIGNIN */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* ADMIN */

.admin-content-bloc {
    background-color: #ccc;
    padding: 15px 10px;
    height: 350px;
    overflow: auto;
}


/* DARK THEME */
body.dark-theme { background-color: #3b3d46; }
body.dark-theme .card-map { background-color: transparent;}
body.dark-theme .form-signin label { color: white; }